@import "tailwindcss";

:root {
	--font-ivyOra-serif: "IvyOra Text Reg", serif;
	--font-ivyOra-italic: "IvyOra Text It", serif;
}

@theme inline {
	/* MAIN - COLOR */
	--color-navy: #282a3c;
	--color-gold: #d5a877;
	--color-slate: #576f8a;
	--color-gray: #bec8d4;

	/* ALT - COLOR */
	--color-alt-navy: #1d1e2f;
	--color-alt-gold: #f2d0be;
	--color-alt-gray: #eff1f4;

	/* FONT */
	--font-sans: var(--font-albert-sans);
	--font-serif: var(--font-ivyOra-serif);
	--font-serif-italic: var(--font-ivyOra-italic);
}

body {
	font-family: var(--font-albert-sans);
}
